<title-template [title]="'Traductions Rapides'" [generatedType]="'Jeu généré'" />

<div class="!mt-4 flex flex-col justify-center items-center text-center gap-4">
  <h3 class="!text-lg ">Translate below</h3>
  <span class="ai-bubble">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias id voluptatum, velit alias blanditiis magni excepturi accusamus accusantium consequuntur, similique ad minus neque tempore rerum aut atque! Odit, a quis!</span>
  <li>SAMPLE RESPONSE: Lorem ipsum dolor sit amet Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo veniam illum impedit velit perspiciatis minus consequuntur, repellat alias libero eligendi culpa nam deserunt molestias, facere non laudantium tempora eos hic.consectetur adipisicing elit. Voluptatibus minima rerum unde itaque odio modi, maxime perferendis maiores omnis quia eius ducimus quos, recusandae eveniet ad enim totam mollitia neque!</li>
<p class="!text-[#008060] font-semibold">SAMPLE AI ANALYSIS + SCORE: Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti alias sed quia quasi consectetur consequuntur officia ducimus accusamus tempore velit. Cupiditate ipsa eaque molestias odio sequi corporis possimus porro natus.</p>

</div>