<div class="home-container">
    <h1>Accueil</h1>

    <div class="dropdowns">
        <select (change)="navToSingle($event)" placeholder>
            <option value="" disabled selected>Chat Simple</option>
            <option *ngFor="let mode of singleChat" [value]="mode">{{ mode }}</option>
        </select>

        <select (change)="navToMulti($event)" placeholder>
            <option value="" disabled selected>Chat Multiple</option>
            <option *ngFor="let mode of multiChat" [value]="mode">{{ mode }}</option>
        </select>
    </div>


    <div class="user-info">
        <p>Bienvenue, {{ user.username }}!</p>
        <p>Points: {{ user.points }} </p>
        <p>Région: {{ user.region }} </p>
        <p>Compétence: {{ user.proficiency }} </p>
    </div>
</div>