<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
</head>
<body>
    <h1>Analysis Page</h1>
 
    <h2>Sample Audio:</h2>
    <p th:text="${generatedSentence}"></p>
    <audio controls>
        <source th:src="@{/audio/sample.mp3}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    
    <h2>Recorded Audio:</h2>
    <p th:text="${userTranscript}"></p>
    <audio controls>
        <source th:src="@{/audio/recorded.mp3}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>


    <h1>Scores</h1>

    <h2>Fluency Score:</h2>
    <p th:text="${fluencyScore + ' %'}"></p>

    <h2>Grammar Score:</h2>
    <p th:text="${grammarScore + ' %'}"></p>




    <h2>Total Score:</h2>
    <p th:text="${totalScore + ' %'}"></p>


    <br>
    <button onclick="window.location.href='/language';">Go to Index Page</button>
  
</body>
</html>
