<div class="sidebar">
    <h1> {{ title }} </h1>

    <div class="modes">
        <h2>Modes</h2>
        <ul>
            <li *ngFor="let link of links" (click)="onLinkClick(link)" [class.active]="selectedLink === link">
                {{ link }}
            </li>
        </ul>
    </div>

    <div class="user-info">
        <h2>Profil</h2>
        <ul>
            <li>Bienvenue, {{ user?.username }}! </li>
            <li>Points: {{ user?.points }}</li>
            <li>Région: {{ user?.region }}</li>
            <li>Compétence: {{ user?.proficiency }} </li>
        </ul>
    </div>

</div>