@use 'tailwindcss';
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
// @use '@angular/material' as mat;

// html {
//   @include mat.theme((color: (primary: mat.$magenta-palette,
//         tertiary: mat.$violet-palette,
//       ),
//       typography: Roboto,
//       density: 0,
//     ));

//   // Default the application to a light color theme. This can be changed to
//   // `dark` to enable the dark color theme, or to `light dark` to defer to the
//   // user's system settings.
//   color-scheme: light;

//   // Set a default background, font and text colors for the application using
//   // Angular Material's system-level CSS variables. Learn more about these
//   // variables at https://material.angular.dev/guide/system-variables
//   background-color: var(--mat-sys-surface);
//   color: var(--mat-sys-on-surface);
//   font: var(--mat-sys-body-medium);
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #fafbfb;
  color: #202223;
  height: 100vh;
  overflow: hidden;
}

.material-icons,
mat-icon {
  font-family: "Material Icons" !important;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  color: #6d7175;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 0.3rem;
  letter-spacing: 0.8px;
  font-weight: 700;
  margin: 0.2rem 0;
  transition: all 0.15s ease;
}


li,
input,
p,
button,
label {
  color: #6d7175;
  font-size: 14px;
  letter-spacing: 0.9px;
}

input:focus {
  outline: none;
  border-color: #008060;
}

input:not(:placeholder-shown) {
  color: black;
}

label {
  color: black;
  font-weight: 600;
  margin-top: 1rem;
}

mat-icon {
  @apply text-gray-300 !text-sm;
}

a {
  color: #6d7175;
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  font-size: 14px;
  letter-spacing: 0.9px;
}

a:hover {
  background-color: #ffffff;
}

a:active {
  background-color: #008060;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 128, 96, 0.2);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

*:hover::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb:hover {
  background: #008060;
}

.green-btn {
  @apply text-center !text-white bg-[#008060] !px-2 !py-1 rounded-md cursor-pointer hover:bg-[#00664d] font-semibold;
}

.active-login-btn {
  @apply bg-white rounded-md !text-[#008060] shadow-md;
}

.login-input {
  @apply w-80 !h-10 !px-2 border border-gray-300 rounded-lg;
}

.login-container {
   background: linear-gradient(135deg, #008060 0%, #00b894 100%);

}

.mic-container {
  background: linear-gradient(110deg,
      #00ffe1,
      #00d4aa,
      #008f76,
      #005f4f,
      #003d33);
  background-size: 400% 400%;
  animation: gradientShift 6s ease-in-out infinite;

  height: 40px;
  width: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  border-radius: 8px;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}