.chatbot-container {
  background: linear-gradient(135deg,
      #ff7b00 0%,
      #ff5722  20%,
      #9059ff 40%,
      #4a148c 60%,
      #5731b5 80%,
      #6a3cc7 100%);

  background-size: 400% 400%;
  animation: gradientShift 8s ease-in-out infinite;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

@keyframes gradientShift {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}