<div class="signup-container">
    <h1>Sign Up</h1>

    <form class="form-data" (ngSubmit)="onSignup()">
        <input type="text" placeholder="Username" name="username" [(ngModel)]="signupData.username" required />
        <input type="password" placeholder="Password" name="password" [(ngModel)]="signupData.password" required />
        <input type="email" placeholder="Email" name="email" [(ngModel)]="signupData.email" required />

        <select [(ngModel)]="signupData.proficiency" name="proficiency" required>
            <option value="">Select Level</option>
            <option *ngFor="let level of ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']" [value]="level">{{ level }}</option>
        </select>

        <input type="text" placeholder="Region" name="region" [(ngModel)]="signupData.region" (input)="onRegionInput()"
            required />

        <ul *ngIf="filteredCountries.length > 0">
            <li *ngFor="let country of filteredCountries" (click)="selectCountry(country)">
                {{ country }}
            </li>
        </ul>


        <button type="submit">Sign Up</button>
    </form>

    <p>Have an account? <a routerLink="/login">Login</a></p>

</div>